#main-header {
    position:fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #474F7A ;
    background-color: #474F7A;
}

#main-header h1 {
    margin: 0;
    color:#FFD0EC;
}

.header-menu{
    font-size: 1.5rem;
    cursor: pointer;
    color:#1F2544;
}

#header-nav {
    display: none;
    background-color: #474F7A ;
}

#header-nav a{
    color:#FFD0EC ;
    text-decoration: none;
    display: block;
    font-size: 2rem;

}

#header-nav a:hover,
#header-nav a:active{
    background-color:#FFD0EC;
    color:#1F2544;
    border-radius: 4px;
}

main {
    padding: 6rem 2rem 2rem;
    gap: 2rem;
}

article {
    margin-bottom: 2rem;
    background: #e6e6fa;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 0.5rem;
    color:#1F2544;
}

article h2 {
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    color: #474F7A ;
}

article img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    display:block;
}


aside {
    display: none;

}
aside img{
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin: 1rem 0;
}

#main-footer {
    padding: 1rem;
    text-align: center;
    background-color: #474F7A;;
    color: #FFD0EC;
}

#footer-nav {
    display: flex;
    justify-content: center;
    background-color: #474F7A;;
}

#footer-nav ul {
    list-style-type: none;
    display: flex;
}

#footer-nav ul li {
    border-right: 1px solid #FFD0EC ;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
}

#footer-nav ul li:last-child {
    border-right: none;
}

#footer-nav a{
    color: #FFD0EC;
    text-decoration: none;
    padding: 0.5rem 1rem;
    transition: background 0.3s ease, color 0.3s ease;
    display: block;
}

#footer-nav a:hover,
#footer-nav a:active{
    background-color: #474F7A;
    color: #FFD0EC;
}

@media (min-width:960px){
    #main-header {
        display: flex;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: white;
        border-bottom: 1px solid #474F7A  ;
        z-index: 1000;
        height: 70px;

    }

    #main-header h1 {
    margin: 0;
    color:#474F7A;
}

    .header-menu{
        display: none;
        color:#1F2544
    }

    #header-nav {
        display: block;
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        padding: 1rem 2rem;
        border-bottom: 1px solid #474F7A ;
        z-index: 999;
        height: 60px;
    }

    #header-nav ul {
        display: flex;
        list-style: none;
        gap: 1.5rem;  
        padding-left: 20%;
        margin: 0;
    }

    #header-nav ul li {
        border-right: 2px solid #FFD0EC;
        padding-right: 1rem;
    }

    #header-nav ul li:last-child {
        border-right: none;
    }

    #header-nav li:last-child{
        border-right: none;
    }

    #header-nav a:hover,
    #header-nav :active{
        background-color: #e6e6fa;
        color:#000000;
    }

    main{
        display: grid;
        grid-template-columns: 2fr 2fr 1fr;
        grid-template-rows: auto;
        gap: 2rem;
        padding: 12rem 2rem 2rem;
        width: 85%;
        margin: 0 auto;

    }

    article{
        margin-bottom: 2rem;
        break-inside: avoid;
        grid-column: span 1;
    }

    article:nth-child(odd){
        grid-column: 1;
    }

    article:nth-child(even){
        grid-column: 2;
    }

    aside{
        display: flex;
        flex-direction: column;
        gap: 4rem;
        grid-column: 3;
        grid-row: 1 / -1;
        border: 5px solid #474F7A ;
        border-radius: 5px;
        padding: 1rem;
        height: fit-content;
        position: sticky;
        top: 130px;
        
        
    }

    #Aside-copyright{
        border: 3px solid #FFD0EC;
        border-radius: 5px;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }


    #main-footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 2rem;
        margin-top: 2rem;
        grid-column: 1/ -1;
        align-items: center;
    }

    #main-footer p{
        grid-column: 1;
        padding-top: 1rem;
        color:#FFD0EC;
    }

    #footer-nav ul {
        grid-column: 2;
        display: flex;
        list-style: none;
        gap: 1rem;
        padding-top: 1rem;
    }

    #footer-nav ul li {
        border-right: 1px solid #FFD0EC ;
        padding-right: 0.5rem;
    }

    #footer-nav ul li:last-child {
        border-right: none;
    }

    #footer-nav a:hover,
    #footer-nav a:active {
        background-color: #474F7A;
        color: #FFD0EC;
    }

}

#api-section{
    display: block;
    align-items:center;
    min-height: 100vh;
    padding: 1rem;
}

/* Ninja API Form Mobile First*/
#ninja-api-form{
    background-color: #ffffff;
    padding:1rem;
    margin:1rem 0;
    border-radius: 8px;
    max-width: 100%;
    
}

#ninja-api-form p, h2{
    font-weight: 600;
    margin-bottom:  0.75rem;
    color: #474F7A;
    display: block;
    justify-self: center;
}

#ninja-api-form label{
    display: inline-box;
    
}

#ninja-api-form input[type='text']{
    display: block;
    justify-self: center;
    width: 100%;
    padding:  0.75rem;
    border: 1px solid #FFD0EC;
    border-radius: 4px;
    margin: 0.75rem 0;
    font-size: 1rem;
    box-sizing: border-box;

}

#ninja-api-form button{
    display: block;
    justify-self: center;
    width: 30%;
    background-color: #474F7A;
    color: #FFD0EC;
    border-radius: 4px;
    padding: 0.75rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#ninja-api-form button:hover{
    background-color: #FFD0EC;
    color:#474F7A;
}

#responseContainer{
    display: block;
    position: absolute;
    margin-top: 1rem;
    background-color: #ffffff;
    padding: 1rem;
    border-radius: 6px;
    word-wrap: break-word;
    width: 100%;


}