
header {
    background-color: none;
    color: none;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}
 
.header-menu {
    background-color: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
}

#header-nav {
    display: none;
}


main {
    padding: 1rem;
}

article {
    margin-bottom: 2rem;
}

article h2 {
    margin-bottom: 0.5rem;
}

aside {
    display: none;
}


footer {
    padding: 1rem;
}

#footer-nav {
    display:block;

}

#footer-nav ul {
    list-style-type: none;
}

@media (min-width:960px){
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
    }

    .header-menu{
        display: none;
    }

    #header-nav {
        display: flex;
        padding: 1rem 2rem;
    }

    #header-nav ul {
        display: flex;
        list-style: none;
        gap: 1.5rem;  
        padding-left: 20%;
    }
}